<h1>TRACKS</h1>
<p>*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_</p>

<% @tracks.each do |track| %>
  <div class="message">
    <h3>"<a href="/tracks/<%= track.id %>"><%= track.song_title %></a>" - <%= track.author %></h3>
    <%= track.url %>
    <hr/>
  </div>
<% end %>

<hr/>
