<h1>Track List</h1>
<p>*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_</p>

<% @tracks.each do |track| %>
  <div class="message">
    <h3><a href="/tracks/<%= track.id %>"> "<%= track.song_title %>" - <%= track.author %></a></h3>
    <p><%= track.url %></p>
    <hr/>
  </div>
<% end %>

<hr/>
<a href="/tracks/new">Post a Track! It's FREE! (for now...)</a>