<h1>Post a Track!</h1>
<hr/>

<form>
  <div>
    <label>Song title:</label>
    <input type="text" name="song_title">
  </div>
  <div>
    <label>Author:</label>
    <input type="text" name="author">
  </div>
  <div>
    <label>URL (optional):</label>
    <input type="text" name="url">
  </div>
  <div>
    <input type="submit" value="Submit">
  </div>
</form>
