<h2>TRACKS Users List</h2>
<hr/>

<% @users.each do |user| %>
  <div class="message">
    <h4><a href="/users/<%= user.id %>"><%= user.email %></a></h4>
    <hr/>
  </div>
<% end %>

<hr/>
<a href="/tracks/new">Post a TRACK! It's FREE! (for now...)</a>
<hr/>
<a href="/users/register">Become a TRACKS Member!</a>