<h1>Welcome Back TRACKS Member!</h1>
<hr/>



<p>Hi there, User: <%= @logged_in %></p>

<form method="post" action="/users/login">
  <div>
    <label>Email:</label>
    <input type="text" name="email">
  </div>
  <div>
    <label>Password:</label>
    <input type="text" name="password">
  </div>
  <div>
    <input type="submit" value="Submit">
  </div>

</form>

<hr/>
<a href="/tracks/new">Post a TRACK! It's FREE! (for now...)</a>
<hr/>
<a href="/users/register">Become a TRACKS Member!</a>