<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <!-- <link rel="stylesheet" href="/stylesheets/normalize.css"> -->
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/stylesheets/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/javascript/application.js"></script>

  <title>TRACKS Music</title>
</head>
<body>

  <h1>TRACKS</h1>
  <p>*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_</p>

  <% if current_user %>

    <p>Hi there, <%= current_user.name %>!</p>

    <form method="POST" action="/users/logout">      
      <a href="/tracks" class="btn btn-primary">View TRACKS</a>
      <a href="/tracks/new" class="btn btn-danger">Post TRACK</a>
      <input class="btn btn-default" type="submit" value="Logout">
    </form>

  <% else %>

    <a href="/tracks" class="btn btn-primary">View TRACKS</a>
    <a href="/users/login" class="btn btn-success">LOG IN</a>
    <a href="/users/register" class="btn btn-warning">REGISTER</a>

  <% end %>


  <%= yield %>


</body>
</html>
